/* Cards */
.card {
    background: linear-gradient(175deg, white, #d6d8d4);
    padding: 10px;
    border-radius: 4px;
    margin: 20px;
}

.default-z {
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.31);
}

.no-padding {
    padding: 0;
}