<div class="container main">
    <div class="game-end">
        <div class="holder">
            <div class="card clearfix">
                <div class="history">
                    <div class="latest-score">
                        <img src="../images/cup.png" alt="">
                        <h1 class="text-white">1020</h1>
                        <span class="text-white">Ashwin P chandra</span>
                        <span class="text-green">ashwin@deloitte.com</span>
                    </div>
                    <div class="high-scorrer">
                        <div class="content">
                            <div>
                                <span class="text-white upper-case">Ashwin Chandra</span>
                                <span class="text-green">ashChandra@del.com</span>
                                <span class="text-ash">Deloitte Digital</span>
                            </div>
                            <h1 class="text-yellow">1020</h1>
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <h1>SCORECARD</h1>
                    <div class="score-details">
                        <span>
                            <span>Pipes Passed &nbsp;</span>
                            <span>10</span>
                        </span>
                        <span>
                            <span>Questions Attempted &nbsp;</span>
                            <span>10</span>
                        </span>
                        <span>
                            <span>Correct Answers &nbsp;</span>
                            <span>8</span>
                        </span>
                        <span>
                            <span>Hidden Multiplier &nbsp;&nbsp;</span>
                            <span>1.5</span>
                        </span>
                    </div>
                    <h1>TOTAL SCORE - 120</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="landing container main">
    <div class="row">
        <div class="card default-z">
            <div class="col">
                <div class="card default-z top-scorer">
                    <div class="label">Current Top Scorer</div>
                    <div class="inline-block">
                        <div class="name">Ashwin P Chandran</div>
                        <div class="email">ashchandran@deloitte.com</div>
                    </div>
                    <div class="inline-block">
                        <div class="score">230</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<strong>LAST ATTEMPT Details (sending string while rendering change to object)</strong>
<br>
<br> {{lastAttempts}}

<br>
<br>
<br>
<strong>This player Info (sending string while rendering change to object)</strong>
<br>
<br> {{player}}

<br>
<br>
<br>
<br>
<strong>Winner Info (sending string while rendering change to object)</strong>
<br>
<br> {{topScorrer}}