<div class="container main">
    <div class="game-end">
        <div class="holder">
            <div class="card clearfix">
                <div class="history">
                    <div class="latest-score">
                        latest score
                    </div>
                    <div class="high-scorrer">
                        High scorrer
                    </div>
                </div>
                <div class="summary">
                    Summary
                </div>
            </div>
        </div>
    </div>
</div>

<div class="landing container main">
    <div class="row">
        <div class="card default-z">
            <div class="col">
                <div class="card default-z top-scorer">
                    <div class="label">Current Top Scorer</div>
                    <div class="inline-block">
                        <div class="name">Ashwin P Chandran</div>
                        <div class="email">ashchandran@deloitte.com</div>
                    </div>
                    <div class="inline-block">
                        <div class="score">230</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<strong>LAST ATTEMPT Details (sending string while rendering change to object)</strong>
<br>
<br> {{lastAttempts}}

<br>
<br>
<br>
<strong>This player Info (sending string while rendering change to object)</strong>
<br>
<br> {{player}}

<br>
<br>
<br>
<br>
<strong>Winner Info (sending string while rendering change to object)</strong>
<br>
<br> {{topScorrer}}