<canvas id="game-holder" width="700" height="600" data-id="{{attemptID}}"></canvas>

<div class="question-frame">
    <div id="question-box" class="card default-z question-box">
        <div class="tally">
            Answered Correct :
            <span class="score">0</span>&nbsp;/&nbsp;
            <span class="total">10</span>
        </div>
        <div class="question">Some Question that is very comple?</div>
        <div class="options">
            <div class="option">
                <div class="custom-radio">
                    <input type="radio" name="option" id="a__c" value="a__c">
                    <label for="a__c"></label>
                </div>
            </div>
            <div class="option">
                <div class="custom-radio">
                    <input type="radio" name="option" id="b__c" value="b__c">
                    <label for="b__c"></label>
                </div>
            </div>
            <div class="option">
                <div class="custom-radio">
                    <input type="radio" name="option" id="c__c" value="c__c">
                    <label for="c__c"></label>
                </div>
            </div>
            <div class="option">
                <div class="custom-radio">
                    <input type="radio" name="option" id="d__c" value="d__c">
                    <label for="d__c"></label>
                </div>
            </div>
        </div>
        <div class="hint"></div>
        <div class="action">
            <button onclick="quiz.checkAnswer()">Next</button>
        </div>
    </div>
    <div class="confirmation card default-z ">
        <div class="question">Restart the game ?</div>
        <div class="action">
            <a href="/play-game/{{id}}" class="text-green upper-case">Yes</a>
            <a href="/" class="text-red upper-case">No</a>
        </div>
    </div>
    <div class="backdrop"></div>
</div>