<div class="landing container main">
    <div class="row">
        <div class="col">
            <div class="card default-z top-scorer">
                <div class="label">Current Top Scorer</div>
                <div class="inline-block">
                    <div class="name">Ashwin P Chandran</div>
                    <div class="email">ashchandran@deloitte.com</div>
                </div>
                <div class="inline-block">
                    <div class="score">230</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card default-z login">
                <img src="/images/title.png" alt="Flappy Ambulance">
                <form action="#">

                    {{!-- Name --}}
                    <div class="group">
                        <input type="text" required>
                        <span class="bar"></span>
                        <label>Name</label>
                    </div>

                    {{!-- Email --}}
                    <div class="group">
                        <input type="text" required>
                        <span class="bar"></span>
                        <label>Email</label>
                    </div>

                    <select name="serviceLine" id="serviceLine">
                        <option value="dd">Deliotte Digital</option>
                        <option value="ams">AMS</option>
                        <option value="si">SI</option>
                    </select>


                </form>

                <button id="start-game" class="submit">
                    Start Game
                </button>
            </div>
        </div>
    </div>
</div>