<div class="landing container main">
    <div class="row">
        <div class="col">
            <div class="card default-z top-scorer">
                <div class="label">Current Top Scorer</div>
                <div class="inline-block">
                    <div class="name">Ashwin P Chandran</div>
                    <div class="email">ashchandran@deloitte.com</div>
                </div>
                <div class="inline-block">
                    <div class="score">230</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card default-z login">
                <h1>{{title}}</h1>
                <p>Welcome to {{title}}</p>
            </div>
        </div>
    </div>
</div>