<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/importer.css' />
</head>

<body>
    <a href="/">
        <img src="/images/Deloitte..png" alt="Deloitte" class="deloitte-logo">
    </a>
    {{{body}}}

    <!-- Scripts -->
    <script type="text/javascript" src="/javascripts/dependencies/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/dependencies/selecty.min.js"></script>
    <script type="text/javascript" src="/javascripts/dependencies/toast.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="/javascripts/client.js"></script>

    <!-- This should be optional -->
    <script src="/javascripts/game.js"></script>
    <script src="/javascripts/landing.js"></script>
</body>

</html>